:root {
  --background-color: white;
  --primary-color: darkslategrey;
  --secondary-color: darkturquoise;
  --pagegray-color: #1c1c1c;
}

header {
  background-color: var(--pagegray-color);
}

header > h1 {
  background-color: var(--secondary-color);
  color: var(--pagegray-color);
  text-align: right;
  margin: 5px 0 15px 0;
  padding: 5px;
  flex: 2 20%;
}

header > .nav {
  flex: 2 80%;
}

.nav {
  margin: 0 40px 0 0;
}

.nav > a {
  text-decoration: none;
  color: var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color);
  margin: 0 10px;
  padding: 0 5px;
}

body {
  background-color: var(--background-color);
  margin: 0;
  font-family: sans-serif;
}

.banner {
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
}

.banner p {
  background-color: var(--secondary-color);
  margin: 0 70px 10px 0;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  color: var(--page-grey);
}

.box-row {
  display: flex;
  flex-direction: row;
}

.box-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.box-row-reverse-end {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.box-column {
  display: flex;
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.section-title {
  color: var(--primary-color);
  flex: 2 15%;
  text-align: right;
  border-right: 3px solid var(--primary-color);
  padding: 10px;
  margin: 20px 0;
}

.section-title > h2 > p {
  margin: 0;
}

.section-content {
  flex: 2 85%;
  margin: 10px 0;
  padding: 10px 0;
}

.section-content > p {
  margin: 5px;
  padding: 5px;
}

.tile {
  margin: 10px;
  border: 5px solid var(--secondary-color);
}

.large-tile {
  height: 500px;
  background-image: url(../img/run-buddy.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.small-tile {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: 2 50%;
}

.t1 {
  background-image: url(../img/horiseon-site.PNG);
}

.t2 {
  background-image: url(../img/come-soon-a.jpeg);
}

.t3 {
  background-image: url(../img/come-soon-b.jpg);
}

.t4 {
  background-image: url(../img/come-soon-c.jpg);
}

.tile-tag {
  background-color: var(--secondary-color);
  align-self: flex-end;
  margin: 0 0 20px 0;
  padding: 10px;
}

.tile-title {
  font-weight: bold;
  margin: 0;
  padding: 0 0 5px 0;
}

.tile-info {
  margin: 0;
  font-size: 10px;
}

.contact-me-content > p {
  margin: 0;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

}
